<div id="<%= dom_id huurder %>">
  <p>
    <h2><%= huurder.name %></h2>
  </p>

  <p>
    <strong>Telefoon:</strong>
    <%= huurder.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= huurder.email %>
  </p>

  <p>
    <strong>Afspraak bezichtiging:</strong>
    <%= huurder.appointment %>
  </p>


  <p>
    <strong>Opmerkingen van huurder:</strong>
    <pre>
    <%= huurder.remarks %>
    </pre>
  </p>

  <p>
    <strong>Evaluatie:</strong>
    <pre>
    <%= huurder.evaluation %>
    </pre>
  </p>
</div>
